{% extends "base.html" %}

{% block content %}
  <div style="display:flex; flex-wrap:wrap; align-items: flex-start;">
    <img src="{{ url_for('static', filename='profpic.jpg') }}" style="border-radius: 10%;height: 7em;width: auto;margin: 1em 2em 0 0" />
    <div style="flex: 1; align-self: center;">
      <h4>👋 I'm John.</h4>
      2nd year Computer Science PhD student @ <span style="color:#E04F39">Stanford University</span> 🌲.
    </div>
    <div style="margin-top: 1em">
      <p style="margin: 0.75rem 0;">
        I'm the creator of
        <a href="https://swebench.com">SWE-bench</a> 
        [<a href="https://openai.com/index/introducing-swe-bench-verified/">Verified</a>;
        <a href="https://www.swebench.com/multimodal">Multimodal</a>;
        <a href="https://www.swebench.com/multilingual.html">Multilingual</a>],
        <a href="https://swe-agent.com">SWE-agent</a>,
        and <a href="https://swesmith.com/">SWE-smith</a>.
      </p>
      <p style="margin: 0.75rem 0;">
        I am advised by Professors <a href="https://people.csail.mit.edu/ludwigs/">Ludwig Schmidt</a>
        and <a href="https://cs.stanford.edu/~diyiy/index.html">Diyi Yang</a>.
      </p>
      <p style="margin: 0.75rem 0;">
        My research topics are Language Model Agents, Language Model Evaluation, Synthetic Data, and Software Engineering.
      </p>
      <p style="margin: 0.75rem 0;">
        Previously, I completed my M.S.E. in Computer Science at <span style="color:#f58025;">Princeton University</span> 🐯,
        advised by Professor <a href="https://www.cs.princeton.edu/~karthikn/">Karthik Narasimhan</a>.
        I received my B.S. in Computer Science from <span style="color:#FDB515;">UC </span>
        <span style="color:#00B0DA;">Berkeley</span> 🐻.
      </p>
      <p style="margin: 0.75rem 0;">
        If you'd like to get in touch, feel free to reach out through
        <a href="https://join.slack.com/t/swe-bench/shared_invite/zt-36pj9bu5s-o3_yXPZbaH2wVnxnss1EkQ">SWE-bench Slack</a> or
        <a href="https://x.com/jyangballin">Twitter</a>.
      </p>
      <p style="margin: 0.75rem 0;">
        Thanks for visiting!
      </p>
    </div>
  </div>
{% endblock content %}
