{% extends "base.html" %}

{% block content %}

<b style="color:#a9a9a9">Open Source</b>
<hr class="section" />
All the GitHub repositories I've built and (partially) maintain.
<ul>
{% for repo in repos %}
<li>
  <a href="http://github.com/{{ repo.name }}">
    <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/{{ repo.name }}?label={{repo.name}}" style="vertical-align: middle;margin-bottom:0.25em" />
  </a>
</li>
{% endfor %}
</ul>

<b style="color:#a9a9a9">Teaching</b>
<hr class="section" />
A curated list of links to resources that I've created during my past teaching and instructor tenures.
<br><br>
<div>
  <b><span style="color:#E04F39">Stanford University</span></b>
  <ul>
    <li>
      CS 329Z:
      <a href="https://cs329z.stanford.edu/">
        <span>Engineering AI Agents</span>
      </a>
      <span style="color:#a9a9a9">(Fall 2026)</span>
    </li>
  </ul>
  <b><span style="color:#f58025;">Princeton University</span></b>
  <ul>
    <li>
      COS 324:
      <span>Introduction to Machine Learning</span>
      <span style="color:#a9a9a9">(Spring '23)</span>
    </li>
    <li>
      COS 316:
      <span>Principles of Computer System Design</span>
      <span style="color:#a9a9a9">(Spring '22)</span>
    </li>
    <li>
      COS 126:
      <span>Computer Science: An Interdisciplinary Approach</span>
      <span style="color:#a9a9a9">(Fall '21, Fall '22)</span>
    </li>
  </ul>
  <b>
    <span style="color:#FDB515;">University of California, </span>
    <span style="color:#00B0DA;">Berkeley</span>
  </b>
  <ul>
    <li>
      CS 161:
      <a href="{{ url_for("cs161") }}">
        <span>Computer Security</span>
      </a>
      <span style="color:#a9a9a9">(Fall '20)</span>
    </li>
    <li>
      CS 169:
      <a href="{{ url_for("cs169") }}">
        <span>Software Engineering</span>
      </a>
      <span style="color:#a9a9a9">(Summer '20)</span>
    </li>
    <li>
      CS 186:
      <a href="{{ url_for("cs186") }}">
        <span>Introduction to Database Systems</span>
      </a>
      <span style="color:#a9a9a9">(Fall '19, Spring '20)</span>
    </li>
    <li>
      CS 88:
      <a href="{{ url_for("cs88") }}">
        <span>Computational Structures in Data Science</span>
      </a>
      <span style="color:#a9a9a9">(Fall '18, Spring '19)</span>
    </li>
    <li>
      CS 61C:
      <a href="{{ url_for("cs61c") }}">
        <span>Great Ideas in Computer Architecture</span>
      </a>
      <span style="color:#a9a9a9">(Summer '19)</span>
    </li>
  </ul>
  <b><span style="color:#0067b5">Cardiff Metropolitan University</span></b>
  <ul>
    <li>
      CS 1:
      <a href="{{ url_for("cs2") }}">
        <span>Mobile & Web Technologies</span>
      </a>
      <span style="color:#a9a9a9">(Spring '21)</span>
    </li>
    <li>
      CS 2:
      <a href="{{ url_for("cs1") }}">
        <span>Computing & Society</span>
      </a>
      <span style="color:#a9a9a9">(Spring '21)</span>
    </li>
  </ul>
</div>
{% endblock content %}
